@model IEnumerable<PortariaInteligente.Models.InternalUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LandPhone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LandPhone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdInternalUser">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdInternalUser">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdInternalUser">Exluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
