@model PortariaInteligente.Models.Meeting

@{
    ViewData["Title"] = "Delete";
}

<h1>Excluir</h1>

<h3>Está certo de que quer excluir isso?</h3>
<div>
    <h4>Evento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameMeeting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameMeeting)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateMeeting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateMeeting)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeMeeting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeMeeting)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaceMeeting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaceMeeting)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InternalUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InternalUser.UserName)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdMeeting" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para a Lista</a>
    </form>
</div>
