@model PortariaInteligente.Models.Evento

@{
    ViewData["Title"] = "Delete";
}

<h1>Excluir</h1>

<h3>Está certo de que quer excluir isso?</h3>
<div>
    <h4>Evento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomeEvento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomeEvento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataEvento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataEvento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.horaEvento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.horaEvento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.localEvento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.localEvento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.visitado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.visitado.nomeVisitado)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EventoId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para a lista</a>
    </form>
</div>
