@model PortariaInteligente.Models.Evento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Evento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomeEvento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomeEvento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataEvento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataEvento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.horaEvento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.horaEvento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.localEvento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.localEvento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.anfitriao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.anfitriao.emailAnfitriao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EventoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
