@model IEnumerable<PortariaInteligente.Models.Meeting>

@{
    ViewData["Title"] = "Index";
}

<h1>Eventos</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameMeeting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateMeeting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeMeeting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaceMeeting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdInternalUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameMeeting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateMeeting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeMeeting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceMeeting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InternalUser.UserName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMeeting">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdMeeting">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdMeeting">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
