@model IEnumerable<PortariaInteligente.Models.Evento>

@{
    ViewData["Title"] = "Index";
}

<h1>Eventos</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nomeEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.horaEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.localEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.anfitriao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomeEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.horaEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.localEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.anfitriao.emailAnfitriao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EventoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.EventoId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.EventoId">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
