@model PortariaInteligente.Models.ExternalUser

@{
    ViewData["Title"] = "Delete";
}

<h1>Excluir</h1>

<h3>Está certo de que quer excluir isso?</h3>
<div>
    <h4>Convidado</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdDocument)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdDocument)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberDoc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberDoc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlateCar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlateCar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BrandCar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BrandCar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BrandCar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModelCar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModelCar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModelCar)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdExternalUser" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para a Lista</a>
    </form>
</div>
