@model PortariaInteligente.Models.ExternalUser

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Convidado</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdCompany)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdDocument)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdDocument)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberDoc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberDoc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlateCar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlateCar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BrandCar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BrandCar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModelCar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModelCar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ColorCar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ColorCar)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdExternalUser">Edit</a> |
    <a asp-action="Index">Voltar para a Lista</a>
</div>
