@model IEnumerable<PortariaInteligente.Models.Convidado>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Convidados" asp-action="Index" >
    <p>
        Nome: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nomeConvidado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.empresaConvidado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emailConvidado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.celConvidado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numeroDoctoConvidado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.placaCarro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.marcaCarro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.modeloCarro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.corCarro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomeConvidado)
            </td>
            <th>
                @Html.DisplayNameFor(model => model.empresaConvidado)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.emailConvidado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.celConvidado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeDocumento.nomeDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numeroDoctoConvidado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.placaCarro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.marcaCarro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.modeloCarro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.corCarro)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ConvidadoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ConvidadoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ConvidadoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
