@model IEnumerable<PortariaInteligente.Models.ExternalUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<form asp-controller="Convidados" asp-action="Index" >
    <p>
        Nome: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCompany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDocument)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberDoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlateCar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrandCar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelCar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColorCar)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <th>
                @Html.DisplayNameFor(model => model.IdCompany)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDocument)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item. NumberDoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlateCar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrandCar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelCar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColorCar)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdExternalUser">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdExternalUser">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdExternalUser">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
