@model IEnumerable<PortariaInteligente.Models.ConvidadoEvento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.evento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.convidado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.evento.nomeEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.convidado.nomeConvidado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ConvidadoEventoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ConvidadoEventoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ConvidadoEventoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
